@import '../../../styles/constants';
@import '../../../styles/placeholders';

.app-todo::ng-deep {
    mat-card {
        padding-bottom: 22px;
        height: 135px;
        cursor: pointer;
    }
    .mat-card-content {
        padding-bottom: 2px; // Fix to text-crop on overflow hiding
        height: 32px;
        max-height: 32px;
        overflow-y: hidden;
    }
    .mat-card-header-text {
        width: 100%;
        margin: 0;
    }
    .mat-card-title {
        @extend %display-flex-aic-jcsb;
    }
    .mat-card-footer {
        @extend %display-flex-aic-jcsb;
        padding: 16px;
    }
    button[disabled] mat-icon {
        display: none;
    }
}

.app-todo-fullscreen::ng-deep {
  @extend %display-flex-aifs-jcc;

  z-index: 99;
  background: $transparency-overlay;

  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    padding-bottom: 8px !important;
  }

  .mat-card-header-text {
    margin: 0;
  }

  .card-form {
    margin-top: 25px;
    width: 80%;
  }
}
