@import '../../../styles/constants';
@import '../../../styles/placeholders';

.app-todo::ng-deep {
    .mat-card-header-text {
        width: 100%;
        margin: 0;
    }
    .mat-card-title {
        @extend %display-flex-aic-jcsb;
    }
    .mat-card-footer {
        @extend %display-flex-aic-jcsb;
        padding: 16px;
    }
}

.app-todo-fullscreen::ng-deep {
  @extend %display-flex-aifs-jcc;

  background: $transparency-overlay;

  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  mat-form-field {
    width: 100%;
  }

  mat-card-actions {
    padding-bottom: 8px !important;
  }

  .mat-card-header-text {
    margin: 0;
  }

  .card-form {
    margin-top: 25px;
    width: 80%;
  }

  .second-toolbar #logo { //Froala logo
    visibility: hidden;
  }
}
