<div class="app-todo">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-title">
        {{model.title}}

        <span class="card-menu">
          <button mat-icon-button 
            class="more-button" 
            [matMenuTriggerFor]="menu" 
            [disabled]="!model.options?.length"
            aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item 
              *ngFor="let option of model.options"
              (click)="option.callback()">
              {{option.label}}
            </button>
          </mat-menu>
        </span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="dashboard-card-content"
      [innerHtml]="model.content | ensure: 'html' | maxlength:100">
    </mat-card-content>

    <mat-card-footer>
      <small>Created {{model.createdAt ? 'in ' + (model.createdAt | date) : ''}} by {{model.author?.name || 'an not informed author'}}</small>
    </mat-card-footer>
  </mat-card>
</div>