@import '../../../styles/placeholders';
@import '../../../styles/constants';

mat-nav-list {
  padding-top: 0;
}

mat-sidenav {
  background: $darken-theme-color;
}

.sidenav {
  width: 200px;

  &-container {
    height: 100%;
  }

  &.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .mat-toolbar {
    background: inherit;
  }
}

.logo {
  @extend %display-flex-aic-jcc;
  height: 160px;
  background: $theme-color !important;
  border-bottom: 5px solid $darken-theme-color;

  img {
    width: 60%;
  }
}

.menu-item {
  color: white;
  transition: background 300ms ease-out;

  &:hover {
    background: $lighten-theme-color;
  }
}

.active-route {
  background: $theme-color;
}
