@import '../../../../../styles/constants';
@import '../../../../../styles/placeholders';

$container-padding: 20px;
$margin-between-elements: 5px;

app-todo {
  width: calc(100% * 1/2 - #{$margin-between-elements} * 2);
  margin: $margin-between-elements;

  @media(max-width: $width-to-responsive) {
    width: 100%;
  }
}

.grid-container {
  @extend %display-flex-aic-jcc-fww;
  padding: $container-padding;
}