@import '../../../styles/constants';
@import '../../../styles/placeholders';

.profile {
    @extend %display-flex-aic-jcc;
}

.avatar {
    $avatar-size: 40px;
    
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
    background-size: cover !important;
    background-position: center;
    background: lightgray;
    cursor: pointer;
    border: 3px solid $theme-color;
    transition: border-color 300ms ease-out;

    &:hover, &.menuIsOpen {
        border: 3px solid white;
    }
}