<div class="profile">
  <div class="avatar"
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="menuProfile"
    [ngClass]="{'menuIsOpen': menuTrigger.menuOpen}"
    [ngStyle]="{'background-image': 'url(' + (user.googlePhotoUrl || user.facebookPhotoUrl || 'assets/images/default-user-image.png') + ')'}">
  </div>

  <mat-menu #menuProfile="matMenu" xPosition="before" overlayClass="shit">
    <button mat-menu-item
      (click)="authService.doLogout()">
      Logout
    </button>
  </mat-menu>
</div>